body {
 position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
nav {
	width: 100%;
	max-width: 1260px;
	float: left;
	overflow: auto;
}

nav ul {
	vertical-align: middle;
	list-style-type: none;
	
}

nav ul li {
	padding: 3px 5px 7px 5px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	
}

nav ul a {
	text-decoration: none;
	color: #060f5f;
	
}
nav ul a:hover {
	color: #9E9E9E;
	
}


article{
	width: 100%;
	padding: 20px 10px 0px 0px;
	clear: left;
}

input[type=text] {
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 0px 10px 20px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    max-width: 586px;
    border: 2px solid #060f5f;
    font-family: 'Roboto', sans-serif;
    color: #060f5f;

}

button {

}

nav .logo{
	/*
	logo is 1743x469px
	*/

	width: 100%;
	height: auto;
	max-width: 610px;
	max-height: 164px;
	float: left;
	margin-right: 20px;

}

.search-form {
	display:inline;
	padding-top: 0px;
	width: 100%;
    max-width: 1260px;

	
}

}

.container {
	margin: 40px 30px 30px 30px;
	padding-left: 12px;
    padding-top: 12px;
}

.footer {
	position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #060f5f;
    color: white;
    font-family: 'Roboto', sans-serif;
    left:0;
    bottom: 0;
    width: 100%;
}

.list-article {
	display: block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #060f5f;
	clear: right;
	overflow:auto;

}

.list-article a {
	text-decoration: none;
	color: #060f5f;
}

.list-article h2 {
	font-size: 4vw;
	margin-top: 2vw;
	padding-top: 0px;
}

.list-album-art {
	float:left;
	padding: 3px 3px 3px 3px;
	margin: 20px 28px 20px 0%;
	border: 2px solid black;
}

.detail-article {
	display: block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #060f5f;
	clear: right;
	overflow:auto;
	margin-left: 50px;
    margin-right: 50px;

}

.detail-album-art {
	height: 50%;
    width: 50%;
    padding: 3px 3px 3px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    border: 2px solid black;
}

.detail-title {
	text-align: center
}

.detail-title h2 {
	font-size: 4vw;
}

.detail-title p {

}

.detail-info-1 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.detail-info-2 {
	margin-top: 5%;
	margin-bottom: 2%;
}

.detail-embed {
	margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.detail-author-date {
	margin-bottom: 1%;
	display: inline-block;
}

.search-article {
	display: block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #060f5f;
	clear: right;
	margin-bottom: 20px;
}

.contact {
	font-family: 'Roboto', sans-serif;
	color: #060f5f;
	text-align: center;
}

.contact h1 {
	font-size: 4vw;
}

.about {
	font-family: 'Roboto', sans-serif;
	color: #060f5f;
	text-align: center;
}

.about h1{
	font-size: 4vw;
}


@media only screen and (max-width: 1023px) and (min-width: 395px) {

 nav {
	 	width:75%;


	 }

	 nav ul {
	 	margin-right:0px;
	 	float: left;
	 }


	 nav ul li{
	 	display: inline;
	 	position: relative;
	 	
	 	bottom: 0px;
	 	text-align: center;
	 	font-size: 18px;
	 }

	 
	 nav a img {
	 	padding-bottom: 0px;
	 }

	 
}

@media only screen and (max-width: 411px) and (min-width: 234px) {
	 nav {
	 	width:100%;


	 }

	 nav ul {
	 	margin-right:0px;
	 	float: left;
	 }


	 nav ul li{
	 	display: inline;
	 	position: relative;
	 	
	 	bottom: 0px;
	 	text-align: center;
	 	font-size: 12px;
	 }

	 
	 nav a img {
	 	padding-bottom: 0px;
	 }

}

@media only screen and (max-width: 233px) {
	nav {
	 	width:100%;
	 }

	 nav ul li{
	 	
	 	position: relative;
	 	
	 	bottom: 0px;
	 	text-align: none;
	 	font-size: 8px;
	 }

	 nav ul {
	 	margin-right:0px;
	 	float: left;
	 }

	 nav a img {
	 	padding-bottom: 0px;
	 }

}
