{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Article</title>

	<link rel="stylesheet" href ="{% static 'styles.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700i" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container" style="margin-left:14px; margin-right:14px; margin-top: 14px;">
		
		<nav>
			
			<a href = "{% url 'articles:list' %}">
				<img class = "logo" src="{% static 'Recognition-logo.png' %}">
				<h1 style="visibility: hidden; position: absolute;">
					Recognition Magazine
				</h1>
			</a>
			<ul>
				<li><a href = "{% url 'articles:list' %}">HOME</a></li>
				<li><a href = "{% url 'contact' %}">CONTACT</a></li>
				<li><a href = "{% url 'about' %}">ABOUT</a></li>
				<li></li>
			</ul>
			
		</nav>
		<form class="search-form" action="{% url 'articles:search' %}" method="get">
				{% csrf_token %}
				{{ search_form }}			
			</form>

		<article>
			{% block content %}
			{% endblock %}
		</article>
	</div>
	<section class="footer">
		<p>&copy; 2018 Recognition Magazine</p> 
	</section>
</body>
</html>